In [5]:
# 1. Введення даних вручну
import pandas as pd
new_df = pd.DataFrame(
{
    "Club name" : ['Barcelona','Real', 'City', 'Liverpool', 'Bayern'],
    "City" : ['Barcelona',  'Madrid', 'Manchester', 'Liverpool', 'Munich'],
    "Found year" : [1899, 1902, 1880, 1892, 1900],
    "Coach" : ['Setien Kike', 'Zinedin Zidan', 'Josep Guardiola', 'Jurgen Klopp', 'Hans Flick'],
    "CL trophy" : [True, True, False, True, True],
    "Capital" : [3.16, 3.26, 1.38, 1.00, 2.35]
})

new_df

   Club name        City  Found year            Coach  CL trophy  Capital
0  Barcelona   Barcelona        1899      Setien Kike       True     3.16
1       Real      Madrid        1902    Zinedin Zidan       True     3.26
2       City  Manchester        1880  Josep Guardiola      False     1.38
3  Liverpool   Liverpool        1892     Jurgen Klopp       True     1.00
4     Bayern      Munich        1900       Hans Flick       True     2.35

In [8]:
# 2. Завантаження даних
# 2.1 Завантаження даних з вказанням повного шляху до файлу
path = "/Users/Alex/Desktop/FullData.csv"
data = pd.read_csv(path, encoding = 'utf-8')

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [9]:
# 2.2 Завантаження файлу, що розміщений в робочій директорії
import os

print("The directory we are working in is: {}".format(os.getcwd()))

The directory we are working in is: C:\Users\Alex

In [13]:
data = pd.read_csv('FullData.csv')

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [14]:
# 3. Відображення завантаження даних
data

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,16,14,11,47,11,91,89,95,90,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17583,Adam Dunbar,Republic of Ireland,NaN,NaN,Wexford Youths,Sub,30.0,02/01/2016,2020.0,45,...,13,11,13,15,12,39,44,52,41,46
17584,Dylan McGoey,Republic of Ireland,NaN,NaN,Longford Town,Sub,28.0,01/01/2016,2020.0,45,...,11,12,13,16,12,47,39,46,46,46
17585,Tommy Ouldridge,England,NaN,NaN,Swindon Town,Res,32.0,03/03/2015,2023.0,45,...,42,35,36,42,37,15,7,13,14,7
17586,Mark Foden,Scotland,NaN,NaN,Ross County,Sub,45.0,03/02/2016,2017.0,45,...,12,13,12,24,12,40,45,44,43,45
17587,Barry Richardson,England,NaN,NaN,Wycombe,Sub,13.0,01/30/2014,2023.0,45,...,16,12,11,22,12,58,37,37,51,33

In [15]:
# 4. Базова статистика про завантажені дані
data.shape

(17588, 53)

In [16]:
data.head

<bound method NDFrame.head of                     Name          Nationality National_Position  National_Kit  \
0      Cristiano Ronaldo             Portugal                LS           7.0
1           Lionel Messi            Argentina                RW          10.0
2                 Neymar               Brazil                LW          10.0
3            Luis Suárez              Uruguay                LS           9.0
4           Manuel Neuer              Germany                GK           1.0
...                  ...                  ...               ...           ...
17583        Adam Dunbar  Republic of Ireland               NaN           NaN
17584       Dylan McGoey  Republic of Ireland               NaN           NaN
17585    Tommy Ouldridge              England               NaN           NaN
17586         Mark Foden             Scotland               NaN           NaN
17587   Barry Richardson              England               NaN           NaN

                 Club Club_Position  Club_Kit Club_Joining  Contract_Expiry  \
0         Real Madrid            LW       7.0   07/01/2009           2021.0
1        FC Barcelona            RW      10.0   07/01/2004           2018.0
2        FC Barcelona            LW      11.0   07/01/2013           2021.0
3        FC Barcelona            ST       9.0   07/11/2014           2021.0
4           FC Bayern            GK       1.0   07/01/2011           2021.0
...               ...           ...       ...          ...              ...
17583  Wexford Youths           Sub      30.0   02/01/2016           2020.0
17584   Longford Town           Sub      28.0   01/01/2016           2020.0
17585    Swindon Town           Res      32.0   03/03/2015           2023.0
17586     Ross County           Sub      45.0   03/02/2016           2017.0
17587         Wycombe           Sub      13.0   01/30/2014           2023.0

       Rating  ... Long_Shots Curve Freekick_Accuracy Penalties  Volleys  \
0          94  ...         90    81                76        85       88
1          93  ...         88    89                90        74       85
2          92  ...         77    79                84        81       83
3          92  ...         86    86                84        85       88
4          92  ...         16    14                11        47       11
...       ...  ...        ...   ...               ...       ...      ...
17583      45  ...         13    11                13        15       12
17584      45  ...         11    12                13        16       12
17585      45  ...         42    35                36        42       37
17586      45  ...         12    13                12        24       12
17587      45  ...         16    12                11        22       12

      GK_Positioning GK_Diving  GK_Kicking  GK_Handling  GK_Reflexes
0                 14         7          15           11           11
1                 14         6          15           11            8
2                 15         9          15            9           11
3                 33        27          31           25           37
4                 91        89          95           90           89
...              ...       ...         ...          ...          ...
17583             39        44          52           41           46
17584             47        39          46           46           46
17585             15         7          13           14            7
17586             40        45          44           43           45
17587             58        37          37           51           33

[17588 rows x 53 columns]>

In [18]:
data.dtypes

Name                   object
Nationality            object
National_Position      object
National_Kit          float64
Club                   object
Club_Position          object
Club_Kit              float64
Club_Joining           object
Contract_Expiry       float64
Rating                  int64
Height                 object
Weight                 object
Preffered_Foot         object
Birth_Date             object
Age                     int64
Preffered_Position     object
Work_Rate              object
Weak_foot               int64
Skill_Moves             int64
Ball_Control            int64
Dribbling               int64
Marking                 int64
Sliding_Tackle          int64
Standing_Tackle         int64
Aggression              int64
Reactions               int64
Attacking_Position      int64
Interceptions           int64
Vision                  int64
Composure               int64
Crossing                int64
Short_Pass              int64
Long_Pass               int64
Acceleration            int64
Speed                   int64
Stamina                 int64
Strength                int64
Balance                 int64
Agility                 int64
Jumping                 int64
Heading                 int64
Shot_Power              int64
Finishing               int64
Long_Shots              int64
Curve                   int64
Freekick_Accuracy       int64
Penalties               int64
Volleys                 int64
GK_Positioning          int64
GK_Diving               int64
GK_Kicking              int64
GK_Handling             int64
GK_Reflexes             int64
dtype: object

In [19]:
data.describe()

,National_Kit,Club_Kit,Contract_Expiry,Rating,Age,Weak_foot,Skill_Moves,Ball_Control,Dribbling,Marking,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
count,1075.000000,17587.000000,17587.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,...,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000
mean,12.219535,21.294536,2018.899414,66.166193,25.460314,2.934103,2.303161,57.972766,54.802877,44.230327,...,47.403173,47.181146,43.383443,49.165738,43.275586,16.609620,16.823061,16.458324,16.559814,16.901183
std,6.933187,19.163741,1.698787,7.083012,4.680217,0.655927,0.746156,16.834779,18.913857,21.561703,...,19.211887,18.464396,17.701903,15.871735,17.710839,17.139904,17.798052,16.600741,16.967256,18.034485
min,1.000000,1.000000,2017.000000,45.000000,17.000000,1.000000,1.000000,5.000000,4.000000,3.000000,...,4.000000,6.000000,4.000000,7.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.000000,9.000000,2017.000000,62.000000,22.000000,3.000000,2.000000,53.000000,47.000000,22.000000,...,32.000000,34.000000,31.000000,39.000000,30.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,12.000000,18.000000,2019.000000,66.000000,25.000000,3.000000,2.000000,63.000000,60.000000,48.000000,...,52.000000,48.000000,42.000000,50.000000,44.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,18.000000,27.000000,2020.000000,71.000000,29.000000,3.000000,3.000000,69.000000,68.000000,64.000000,...,63.000000,62.000000,57.000000,61.000000,57.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,36.000000,99.000000,2023.000000,94.000000,47.000000,5.000000,5.000000,95.000000,97.000000,92.000000,...,91.000000,92.000000,93.000000,96.000000,93.000000,91.000000,89.000000,95.000000,91.000000,90.000000

In [20]:
# 7. Використання функції desribe
data['Rating'].describe()

count    17588.000000
mean        66.166193
std          7.083012
min         45.000000
25%         62.000000
50%         66.000000
75%         71.000000
max         94.000000
Name: Rating, dtype: float64

In [21]:
data['Freekick_Accuracy'].describe()

count    17588.000000
mean        43.383443
std         17.701903
min          4.000000
25%         31.000000
50%         42.000000
75%         57.000000
max         93.000000
Name: Freekick_Accuracy, dtype: float64

In [22]:
cut_data = data.iloc[0:10, :]

cut_data

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,16,14,11,47,11,91,89,95,90,89
5,De Gea,Spain,GK,1.0,Manchester Utd,GK,1.0,07/01/2011,2019.0,90,...,12,21,19,40,13,86,88,87,85,90
6,Robert Lewandowski,Poland,LS,9.0,FC Bayern,ST,9.0,07/01/2014,2021.0,90,...,82,77,76,81,86,8,15,12,6,10
7,Gareth Bale,Wales,RS,11.0,Real Madrid,RW,11.0,09/02/2013,2022.0,90,...,90,86,85,76,76,5,15,11,15,6
8,Zlatan Ibrahimović,Sweden,NaN,NaN,Manchester Utd,ST,9.0,07/01/2016,2017.0,90,...,88,82,82,91,93,9,13,10,15,12
9,Thibaut Courtois,Belgium,GK,1.0,Chelsea,GK,13.0,07/26/2011,2019.0,89,...,17,19,11,27,12,86,84,69,91,89

In [23]:
new_data = ["group_1", "group_1", "group_1", "group_1", "group_1", "group_2", "group_2", "group_2", "group_2", "group_2"]
cut_data.insert(3, "Group", new_data)
cut_data

,Name,Nationality,National_Position,Group,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,group_1,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,group_1,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,group_1,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,group_1,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,group_1,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,...,16,14,11,47,11,91,89,95,90,89
5,De Gea,Spain,GK,group_2,1.0,Manchester Utd,GK,1.0,07/01/2011,2019.0,...,12,21,19,40,13,86,88,87,85,90
6,Robert Lewandowski,Poland,LS,group_2,9.0,FC Bayern,ST,9.0,07/01/2014,2021.0,...,82,77,76,81,86,8,15,12,6,10
7,Gareth Bale,Wales,RS,group_2,11.0,Real Madrid,RW,11.0,09/02/2013,2022.0,...,90,86,85,76,76,5,15,11,15,6
8,Zlatan Ibrahimović,Sweden,NaN,group_2,NaN,Manchester Utd,ST,9.0,07/01/2016,2017.0,...,88,82,82,91,93,9,13,10,15,12
9,Thibaut Courtois,Belgium,GK,group_2,1.0,Chelsea,GK,13.0,07/26/2011,2019.0,...,17,19,11,27,12,86,84,69,91,89

In [24]:
# Виведення статистики з розділенням на групи
cut_data.groupby('Group').describe()

        National_Kit                                           Club_Kit       \
               count mean       std  min  25%  50%   75%   max    count mean
Group
group_1          5.0  7.4  3.781534  1.0  7.0  9.0  10.0  10.0      5.0  7.6
group_2          4.0  5.5  5.259911  1.0  1.0  5.0   9.5  11.0      5.0  8.6

         ... GK_Handling       GK_Reflexes                                    \
         ...         75%   max       count  mean        std  min   25%   50%
Group    ...
group_1  ...        25.0  90.0         5.0  31.2  34.383135  8.0  11.0  11.0
group_2  ...        85.0  91.0         5.0  41.4  43.963621  6.0  10.0  12.0


          75%   max
Group
group_1  37.0  89.0
group_2  89.0  90.0

[2 rows x 328 columns]

In [25]:
cut_data.to_csv("output.csv", encoding='utf8')

In [26]:
final = data.describe()
final.to_csv("output_main.csv", encoding='utf8')