In [65]:
# дані по кількості смертей в Канаді за 2016 рук, були взяті з інтернет ресурсів, не оформлених у вигляді готової бази даних
# за експерементальні дані я брав значення з інтернету, а за теоретичні, значення згідно з кривої нормального розподілу
# врахувоуючи середню продовжуваність життя в Канаді - 83 роки
import pandas
work_data = pd.DataFrame(
{
    "Age" : ["<20", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80-89"],
    "Count_Exp" : [1361, 2890, 4028, 7445, 20647, 39340, 55309, 80778],
    "Count_Teor" : [2118, 4236, 6354, 14944, 25301, 40241, 57185, 61419]
})
work_data

     Age  Count_Exp  Count_Teor
0    <20       1361        2118
1  20-29       2890        4236
2  30-39       4028        6354
3  40-49       7445       14944
4  50-59      20647       25301
5  60-69      39340       40241
6  70-79      55309       57185
7  80-89      80778       61419